{% extends 'base.html'%}

{% block content %}

<h2>Employee Tasks</h2>

<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
        <tr>
            <td>{{ task.description }}</td>
            <td>
                {% if task.end_time %}
                    Ended
                {% elif task.start_time %}
                    In progress
                {% else %}
                    Pending
                {% endif %}
            </td>
            
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock%} 