
<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1> Assigned Tasks (Mock)</h1>
      <p>All my tasks in one place</p>
      
    </div>
  </header>
  <div class="container todoapp-wrapper">
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main">
    
      <ul class="todo-list" *ngIf="tasks().length > 0; else sinTareas">
        <li *ngFor="let task of tasksByFilter(); index as i" [class.completed]="task.status === 'completed'">
        
          <div class="view">
            
            <input class="toggle" 
                   type="checkbox" 
                   [checked]="task.status ==='completed'"  
                   (change)="onToggle(task)" 
            />
            <label>
                <strong>{{task.description}}</strong>
                <ul>
                    <li>Status: {{ task.status }}</li>
                    <li>Priority: {{ task.priority }}</li>
                    <li>Assigned date: {{ task.assigned_date | date }}</li>
                </ul>            
            </label>
            <button class="destroy" (click)="deleteTask(task.id)"></button>
          </div>
        </li>
<!--         
        <li class="completed">
          <div class="view">
            <input class="toggle" type="checkbox" checked />
            <label>Learn JavaScript</label>
            <button class="destroy"></button>
          </div>
          <input class="edit" value="Learn JavaScript" />
        </li>
        <li class="editing">
          <div class="view">
            <input class="toggle" type="checkbox" />
            <label>Make dishes</label>
            <button class="destroy"></button>
          </div>
          <input class="edit" value="Make dishes" />
        </li> -->
      </ul>
    <ng-template #sinTareas>
    <p>No hay tareas asignadas.</p>
    </ng-template>

    </section>
    <!-- This footer should be hidden by default and shown when there are todos -->
    <footer class="footer">
      <!-- This should be `0 items left` by default -->

      <span class="todo-count" *ngIf="tasksByFilter().length > 1; else fewitems"><strong>{{tasksByFilter().length}}</strong> items left</span>
        <ng-template #fewitems>
            <span class="todo-count" *ngIf="tasksByFilter().length == 1; else cero"><strong>1</strong> item left</span>
        </ng-template >
          
        <ng-template #cero>
            <span class="todo-count"  *ngIf="tasksByFilter().length == 0; else cero"><strong>0</strong> item left</span>
        </ng-template>
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a (click)="changeFilter('all')" [class.selected]="filter() === 'all'">All</a>
        </li>
        <li>
          <a (click)="changeFilter('pending')" [class.selected]="filter() === 'pending'">Pending</a>
        </li>
        <li>
          <a (click)="changeFilter('in progress')" [class.selected]="filter() === 'in progress'">In progress</a>
        </li>
        <li>
          <a (click)="changeFilter('completed')" [class.selected]="filter() === 'completed'">Completed</a>
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button class="clear-completed">Clear completed</button>
    </footer>
  </div>
</section>